/*estilos generales*/
section{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}
h1{
  font-size: 2.5rem;

}



.navbar{
  padding: 10px;
  background: #f4f5f6;
}
.navbar-collapse{
  align-items: center;
  justify-content: space-between;
  
}


.imgBorder{
  border-radius: 50%;
  width:150px;
}

.seccion-oscura{
  color: white;
  background-color: #1b1b32;/*color fredodecap*/
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo{
  font-size: 2rem;
  padding: 15px 0px;
  font-family: 'Bruno Ace SC', cursive;;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/*seccion hero*/
.hero{
  background-color: #f4f5f6;
  min-height: 450px;
  text-align: center;

}

.hero-principal h2{
  font-size: 1.5rem;
  color: #615151;
}

.hero-principal h1{
  font-family: 'Bruno Ace SC', cursive;
}


/*abaut me*/
.sobre-mi{
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor{/*este tipo de contenedor solo aplica para lo que esta dentro del contenedor sobre mi*/
  max-width: 600px;/*ancho maximo*/
  text-align: center;
}

/* experiencia */
.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.15s ease-in;
}
.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i{
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 16px;
  border-radius: 50%;

}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;

}

.badge {
  margin: 5px;
}


/*proyectos*/
.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

/*overlay= contenido sobre la imagen*/
.overlay {
  transition: all 0.2s ease;
  opacity: 0;/*oculta la imagen*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

/*sirve para mostrar la imagen qeu esta oculta*/
.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

/*cambia la opacidad de 0 a 1 para mostrar el contenido*/
.proyecto:hover .overlay {
  opacity: 1;
  
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}



/*Seccion responsiva*/

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 15px;
  }

  .seccion-titulo {
    font-size: 30px;
    padding: 10px;
    margin: 10px;
  }
}

/*oculta el icono cuando la pantalla es menor a  767px */
@media screen and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }

  .overlay i {
    font-size: 40px;
  }
  
}
/*cuando el ancho supera los 700px la imagen conserva el largo de 600px*/
@media screen and (min-width:700px) {
  .hero-inferior-imagen{
    max-width: 600px;
  }
  
}